absl-py
acres
aiodns
aiosmtpd
altair
annotated-doc
annotated-types
anyio
apify_client
apify_shared
apriori
apyori
asgiref
asttokens
astunparse
atpublic
attrs
beautifulsoup4
blinker
blis
Brotli
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
ci-info
click
cloud-sdk
cloudpathlib
colorama
comm
comtypes
confection
configobj
configparser
contourpy
cryptography
cssselect2
customtkinter
cycler
cymem
darkdetect
dash
debugpy
decorator
deprecation
distro
dj-database-url
Django
django-cors-headers
django-email-verification
django-encrypted-model-fields
django-environ
django-extensions
django-filter
django-multiselectfield
djangorestframework
djangorestframework_simplejwt
dnspython
docx2txt
ekphrasis
email-validator
environ
et_xmlfile
etelemetry
executing
fastapi
filelock
fitz
Flask
Flask-Cors
Flask-Mail
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
ftfy
future
gast
geocoder
geographiclib
geopy
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
gTTS
gunicorn
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
imbalanced-learn
impit
importlib_metadata
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
looseversion
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapipe
ml_dtypes
more-itertools
MouseInfo
mpmath
murmurhash
mysql-connector-python
mysqlclient
namex
narwhals
nest-asyncio
networkx
nibabel
nipype
nltk
numpy
openai
opencv-contrib-python
opencv-python
openpyxl
opt_einsum
optree
outcome
packaging
pandas
parso
pathlib
pdfminer.six
pdfplumber
pillow
platformdirs
plotly
preshed
prompt-toolkit
proto-plus
protobuf
prov
psutil
psycopg
psycopg2-binary
pure-eval
puremagic
pyarrow
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycares
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
pydot
pydyf
pygame
PyGetWindow
Pygments
PyJWT
PyMsgBox
PyMuPDF
PyMySQL
pyngrok
pyparsing
PyPDF2
pypdfium2
pyperclip
pyphen
pypiwin32
pypng
PyRect
pyresparser
pyrsistent
PyScreeze
PySocks
python-dateutil
python-docx
python-dotenv
python-multipart
pyttsx3
pytweening
pytz
pywin32
pyxnat
PyYAML
pyzmq
qrcode
ratelim
rdflib
referencing
regex
requests
retrying
rich
rpds-py
safetensors
scikit-learn
scipy
seaborn
selenium
sentencepiece
setuptools
shellingham
simplejson
six
sklearn-compat
smart_open
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
stack-data
starlette
streamlit
stringcase
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
textblob
thinc
threadpoolctl
tinycss2
tinyhtml5
tokenizers
toml
torch
tornado
tqdm
traitlets
traits
transformers
trio
trio-websocket
typer
typer-slim
typing-inspection
typing_extensions
tzdata
ujson
uritemplate
urllib3
uvicorn
validators
wasabi
watchdog
wcwidth
weasel
weasyprint
webencodings
websocket-client
Werkzeug
wheel
whitenoise
wrapt
wsproto
xgboost
zipp
zopfli
